.container {
    background-color: var(--joplin-background-color);
    color: var(--joplin-color);
    font-size: var(--joplin-font-size);
    font-family: var(--joplin-font-family);
    overflow-x: hidden;
    overflow-y: scroll;
    /*height: 1370px;  /* It says you can't use 100% here because display is set to inline. So I wrote the approximate size of a maxmized window in my SwayWM */
    scrollbar-width: thin;
    scrollbar-color: var(--joplin-color) var(--joplin-background-color);
    border-left: 1px solid var(--joplin-divider-color)
    display: inline-block; /* or block */
    height: 100vh;
}

.todo-item a {
    color: var(--joplin-color);
    text-decoration: none;
}

.todo-lesser {
    color: var(--joplin-color-faded);
    font-style: italic;
    font-size: 80%
}

.toolbarIcon {
    font-size: var(--joplin-toolbar-icon-size);
}
.primary {
    color: var(--joplin-color);
}
.secondary {
    color: var(--joplin-color2);
}
